.divcontent{
  margin: auto;
  width: fit-content;
  text-align: center;
}

.divform {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  width:fit-content;
}

.divform_veiculo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
  width:fit-content;
}

.divform_veiculo td{
  text-align: center;
  padding: 5px;
}

.divform_veiculo td *{
  width: 250px;
}


.divcontentcliente {
  margin: auto;
  width: fit-content;
  background-color: #eee;
  border-radius: 10px;
}

.divcontentcliente table{
  padding: 20px;
}

.divcontentcliente th{
  padding: 10px;
  text-align: right;
}

.divcontentcliente td{
  padding: 15px;
  text-align: left;
}

.divlistaveiculos{
  margin: auto;
  text-align: center;
  padding: 5px;
  padding-top: 50px;
  padding-bottom: 20px;
  
}

.divlistaveiculos table{
  margin: auto;
  padding: 20px;
  width: fit-content;
  background-color: #eee;
  border-radius: 10px;
  
}

.divlistaveiculos th{
  padding: 10px;
  min-width: 50px;
}

.divlistaveiculos td{
  padding: 10px;
  min-width: 50px;
  text-align: center;
}

.divlistaveiculos td div{
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.divlistaveiculos button{
  margin-top: 20px;
  font-size: larger;
}

h3{
  text-align: center;
  padding: 20px;
  margin: auto;
}

td{
  text-align: right;
}

input{
  margin: 5px;
}

.estado{
  width: 94%;
  margin: auto;
}