.divcontent{
  margin: auto;
  width: fit-content;
  text-align: center;
}

.divform {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  width:fit-content;
}

td{
  text-align: right;
}

input{
  margin: 5px;
}

.estado{
  width: 94%;
  margin: auto;
}