body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Impact';
  color: #567189;
  text-align: center;
}

.container-seach {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Distribute space between items */
}

#left-search,
#right-search {
  flex: 0 0 auto; /* Don't allow flex items to grow or shrink */
  width: calc(
    50% - 20px
  ); /* Set width to 50% of the container's width minus margin */
  margin: 20px 5px; /* Add margin between divs */
  vertical-align: top;
  text-align: center; /* Reset text alignment to the default value */
}

.container {
  position: relative;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  padding-bottom: 50px;
  background-color: rgba(222, 229, 233, 0.4);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Add a box shadow with a slight transparency */
  justify-content: center;
  align-items: center;
}

form {
  text-align: left;
}

fieldset {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

fieldset.client-field {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

fieldset.client-address {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#openModalButton {
  float: right;
}

legend {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.icon-name {
  visibility: hidden;
  width: auto;
  background-color: rgb(44, 153, 82);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.icon-container:hover .icon-name {
  visibility: visible;
}

input {
  display: inline-block;
  width: 255px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

#brazilianStates {
  display: inline-block;
  width: 255px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

#cpf,
#cnpj,
#Telephone,
#Cellphone,
#Email1 {
  width: 250px;
  margin-bottom: 10px;
}

#city {
  width: 200px;
  margin-bottom: 10px;
}

.button-container {
  text-align: center;
}

.btn-outline-success {
  background: #567189;
  color: #ddd;
}
.navbar-brand {
  font-size: large;
  font-weight: bold;
  color: #567189;
}

footer {
  background-color: #567189;
  color: white;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 0; /* Adjust padding as needed */
  text-align: center;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-info,
.quick-links,
.social-media {
  flex: 1;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.contact-info h4,
.quick-links h4,
.social-media h4,
.copyright p {
  margin-bottom: 10px;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links a,
.social-media a {
  color: white;
  text-decoration: none;
}

.social-media ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.social-media i {
  font-size: 24px;
}

.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

.client-field input {
  flex: 1;
  margin-bottom: 10px;
}

.vehicle-container {
  max-height: 300px; /* Set a specific height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
}
/* Apply styles to the search result container */
.container {
  margin-top: 20px;
}

/* Style for the table header */
.table thead th {
  background-color: #343a40; /* Dark background color */
  color: #fff; /* White text color */
}

/* Style for alternating row colors in the table body */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa; /* Light gray background color */
}

/* Style for table cells */
.table td,
.table th {
  padding: 0.75rem; /* Adjust cell padding */
}

/* Style for pagination links */
.pagination {
  margin-top: 20px;
}

/* Style for pagination links */
.page-link {
  color: #007bff; /* Blue link color */
}

/* Style for active page link */
.page-item.active .page-link {
  background-color: #007bff; /* Blue background color */
  border-color: #007bff; /* Blue border color */
  color: #fff; /* White text color */
}

.container-result {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.table-container {
  width: 100%; /* Adjust as needed */
  overflow-x: auto; /* Add horizontal scrolling if needed */
}

.container-result {
  text-align: center;
}

.container h1 {
  text-align: center;
}
.container-result p {
  text-align: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.icon-container img {
  max-width: 100%; /* Ensure the image fits within the container */
  max-height: 100%; /* Ensure the image fits within the container */
  display: block; /* Ensure the image is treated as a block element */
  margin: auto;
}

.main-container {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#icon {
  max-width: 100px;
  max-height: 100px;
}

.container-draggable {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left,
#right,
#last {
  background-color: rgba(222, 229, 233, 0.4);
  border-color: #0f0f10;
  border-radius: 2px;
  width: 300px;
  min-height: 700px;
  margin: 20px;
  border: 2px #fff;
  box-shadow: #0c0c0c;
  margin-bottom: 300px;
}

.list {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100px; /* Adjust height as needed */
  margin: 30px;
  background-color: #567189;
  color: #fff;
  cursor: grab;
  border-radius: 5px;
  text-align: center; /* Center text within each div */
  border: px solid #364077; /* Optional: Add border for visual clarity */
  padding: 10px; /* Optional: Add padding for spacing */
}

h4 {
  color: #364077;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

.fieldset-ordens {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  border: none; /* Remove default border */
  border-color: #fff;
  width: 100%; /* Ensure fieldset takes full width */
  box-sizing: border-box;
  width: 100%; /* Ensure fieldset takes full width */
  box-sizing: border-box; /* Include padding and border in the width */
}

#fieldset-ordens p {
  margin: 5px 0; /* Adjust margins between paragraphs */
}

#status-page-h1 {
  text-align: center;
  color: #364077;
  font-weight: bold;
  font-family: 'helvetica';
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.fieldset-ordens {
  width: 100%; /* Ensure fieldset takes full width */
  box-sizing: border-box; /* Include padding and border in the width */
}

.list p {
  margin: 5px 0; /* Adjust margins between paragraphs */
  word-wrap: break-word; /* Allow long words to break and wrap */
}

#tipo_servico {
  display: inline-block;
  width: 300px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  height: 30px;
}

.table-order-field {
  text-align: center;
  justify-content: center;
}
