<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="../static/style.css">
        <title>Home</title>
    </header>
    <body>
      <h1>RSCAR Automotiva</h1>
      <table class="table_home">
        <tr>
          <td>
            <a href="{{url_for('register')}}">Cadastrar Cliente</a>
          </td>
          <td>
            <a href="{{url_for('vehicle_registration_default')}}">Cadastrar Veículo</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{url_for('busca')}}">Buscar</a>
          </td>
          <td>
            <a href="{{url_for('ordem_default')}}">Abrir Ordem</a>
          </td>
        </tr>
      </table>
    </body>
<html>
