<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="../static/style.css">
        <title>Home</title>
    </header>
    <body>
      <h1>RSCAR Automotiva</h1>
      <img src="images/fundo.png" alt="">
      <table class="table_home">
        <tr>
          <td>
            <img src="{{ url_for('static', filename='images/client_icon.png') }}" alt="" class="table_icon">
            <a href="{{url_for('register')}}">Cadastrar Cliente</a>
          </td>
          <td>
            <img src="{{ url_for('static', filename='images/car_icon.png') }}" alt="" class="table_icon">
            <a href="{{url_for('vehicle_registration_default')}}">Cadastrar Veículo</a>
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{ url_for('static', filename='images/car_search_icon.png') }}" alt="" class="table_icon">
            <a href="{{url_for('busca')}}">Buscar</a>
          </td>
          <td>
            <img src="{{ url_for('static', filename='images/pedidos_icon.png') }}" alt="" class="table_icon">
            <a href="{{url_for('ordem_default')}}">Abrir Ordem</a>
          </td>
        </tr>
      </table>
    </body>
<html>
