<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="../../static/style.css">
    </header>
    <body>
      {% block menu %}
        <div class="menu_top">
          <div class="menu_opcao">
            <table>
              <tr>
                <th class="title"><a href="{{url_for('home')}}">RSCAR<br>Automotiva</a></th>
                <th><a href="{{url_for('busca')}}">Buscar</a></th>
                <th><a href="{{url_for('register')}}">Cadastrar<br>Cliente</a></th>
                <th><a href="{{url_for('vehicle_registration_default')}}">Cadastrar<br>Veículo</a></th>
                <th><a href="{{url_for('ordem_default')}}">Ordem de<br>Serviço</a></th>
                <th><a href="{{url_for('exibir_estoque')}}">Estoque de<br>Peças</a></th>
              </tr>
            </table>
          </div>
        </div>
      {% endblock %}
      {% block content %}{% endblock %}
    </body>
</html>