<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="../../static/style.css">
        <title>Detalhes da ordem</title>
    </header>
    <body>
        {% extends "menu.html" %}
        {% block menu %}
        {{super()}}
        {% endblock %}
        {% block content %}
        <h1>Ordem de Serviço</h1>
        <div class="divcontentordem">
            <div class="id_ordem">Ordem nº {{ordem['id_ordem']}}</div>
            <table>
                <tr>
                    <th colspan="2">Detalhes do veículo</th>
                </tr>
                <tr>
                    <th>Placa:</th>
                    <th>Cliente:</th>
                </tr>
                <div class="divstatusordem">
                    <h3>Status da Ordem: {{ ordem['status'] }}</h3>
                <tr>
                <td><a href="{{url_for('exibir_veiculo', id_veiculo = veiculo['id_veiculo'])}}">{{veiculo['placa']}}</a></td>
                <td><a href="{{url_for('exibir_cliente', id_cliente = cliente['id_cliente'])}}">{{cliente['nome']}}{{cliente['razao_social']}}</a></td>
                </tr>
            </table>
            <div class="divordemdetalhes">
                <div class="divtiposservicos">
                    <h3>Serviços selecionados</h3>
                    <table class="itens_selecionados" id="itens_selecionados">
                        <tr>
                            <th>Nome do serviço</th>
                            <th>Valor</th>
                        </tr>
                        {% for i in lista_servicos%}
                            <tr class="item_lista">
                                <td><label for="{{i['id_servico']}}">{{i['nome']}}</label></td>
                                <td><label for="{{i['id_servico']}}">R$ {{i['valor']}}</label></td>
                            </tr>
                        {% endfor %}
                        {% for i in lista_pecas%}
                            <tr class="item_lista">
                                <td><label for="{{i['id_peca']}}">{{i['nome']}} ({{i['qtd']}} un)</label></td>
                                <td><label for="{{i['id_peca']}}">R$ {{i['valor']*i['qtd']}}</label></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <table class="total">
                        <tr>
                            <th>Total:</th>
                            <th><input id="mostrarTotal" value="R$ 0,00" disabled></th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="AprovarOrdem">
                {% if ordem['status'] == 'Em Orçamento' %}
                <form action="" method="post" onsubmit="return false" id="avancar_ordem">
                    <input type="hidden" name="id_ordem" value="{{ordem['id_ordem']}}">
                    <button type="submit" onclick="avancar_status()">Aprovar Ordem</button>
                </form>
                </div>
                {% endif %}
                <div class = "EditarOrdem">
                {% if ordem['status'] == 'Em andamento' or ordem['status'] == 'Em Orçamento'%}
                <form action="{{ url_for('editar_ordem', id_ordem = ordem['id_ordem']) }}", method="get">
                    <button type = "submit">Editar Ordem</button>
                </form>
                {% endif %}
                </div>

                <div class="CancelarOrdem">
                    {% if ordem['status'] == 'Em andamento' or ordem['status'] == 'Em Orçamento'%}
                    <form action="" method="post" onsubmit="return false" id="cancelar_ordem">
                        <input type="hidden" name="id_ordem" value="{{ordem['id_ordem']}}">
                        <button type="submit" onclick="confirmar_cancelamento()">Cancelar Ordem</button>
                    </form>
                    {% endif %}

                    <div class="FinalizarOrdem">
                        {% if ordem['status'] == 'Em andamento'%}
                        <form action="" method="post" onsubmit="return false" id="avancar_ordem">
                            <input type="hidden" name="id_ordem" value="{{ordem['id_ordem']}}">
                            <button type="submit" onclick="confirmar_finalizacao()">Finalizar Ordem</button>
                        </form>
                        {% endif %}                    
        <script src="/static/ordem.js"></script>
    </body>
    {% endblock %}
</html>