<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="../static/style.css">
        <title>Deatlhes do cliente</title>
    </header>
    <body>
        {% extends "menu.html" %}
        {% block menu %}
        {{super()}}
        {% endblock %}
        {% block content %}
        <h1>Ordem de Serviço</h1>
        <div class="divcontentordem">
            <form action="{{url_for('busca')}}" name="busca" id="busca" class = form_busca method="post">
                <h3>Pesquise o veículo para abrir a ordem de serviço:</h3>
                <p></p>
                <div class="PesquisarVeiculoOrdem">
                <input type="text" id="criterio" name="criterio" placeholder="Digite a placa ou chassi para pesquisar">
                <input type="hidden" id="tipo" name="tipo" value="veiculo">
                <button type="submit">Pesquisar</button>
                </div>
            </form>
            <form action="" method="post">
                <div class="divordemdetalhes">
                    <div class="divtiposservicos">
                        <h3>Serviços disponíveis</h3>
                        <input type="text" id="filtrar_servicos" class="filtrar_servicos" placeholder="Filtrar..." disabled>
                        <table class="servicos" id="tabela_servicos">
                            <tr>
                                <th></th>
                                <th>Nome do serviço</th>
                                <th>Valor</th>
                            </tr>
                            {% for i in lista_servicos%}
                                <tr class="item_lista">
                                    <td><input type="checkbox" id="{{i['id_servico']}}" name="{{i['id_servico']}}" value="{{i['id_servico']}}" disabled></td>
                                    <td><label for="{{i['id_servico']}}">{{i['nome']}}</label></td>
                                    <td><label for="{{i['id_servico']}}">R$ {{i['valor']}}</label></td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                    <div class="divtiposservicos" id="servicos_selecionados">
                        <h3>Serviços selecionados</h3>
                        <table class="itens_selecionados">
                            <tr>
                                <th>Nome do serviço</th>
                                <th>Valor</th>
                            </tr>
                        </table>
                        <table class="total">
                            <tr>
                                <th>Total:</th>
                                <th><input id="mostrarTotal" value="R$ 0,00" disabled></th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="salvarOrdem">
                    <button type="submit" disabled>Salvar</button>
                </div>
            </form>
        </div>
        <script src="/static/ordem.js"></script>
    </body>
    {% endblock %}
</html>