<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RS Car Automotive</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
  
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    
  </head>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          >RS Car Automotive</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
              <a class="nav-link" href="/register">Cadastro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order">Pedido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-disabled="true" href="/status">Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-disabled="true" href="/search">Busca</a>
            </li>
            
          </ul>
          <a class="nav-link" href="/">Logout</a>
        </div>
      </div>
    </nav>
  </header>
  <body>


    <div class="container">
      <h2>RS Car Automotive</h2>

    
      <!-- Client Details Form -->
      <form id="clientForm"action="{{ url_for('register') }}" method="POST" class="input-group mb3">

        

          <fieldset class="client-field">
            <legend>Campo Cliente</legend>
              
          <input type="text" id="clientName" name="clientName" placeholder="Type the client Name" required />
          <input type="text" id="cpf" name="CPF" class="cpf" placeholder="Digite o CPF" />
          <input type="text" id="RazaoSocial" name="RazaoSocial" placeholder="Razao Social"  />
          <input type="text" id="cnpj" name="CNPJ" placeholder="CNPJ" placeholder="CNPJ" />
          <input type="text" id="Cellphone" name="Cellphone" placeholder="Celular" required/>
          <input type="email" id="Email1" name="Email1" placeholder="Digite um e-mail" required />
          </fieldset>

          <fieldset id="client-address" class="input-group mb3">
            <legend>Endereco do Cliente</legend>


            <input type="text" id="CEP" name="CEP" placeholder="Digite o CEP" required/>
            <input type="text" id="Logradouro" name="Logradouro" placeholder="Logadouro"/>
            <input type="text" id="Numero" name="Numero" placeholder="Número" />
            <input type="text" id="Complemento" name="Complemento" placeholder="Complemento" />
            <select id="brazilianStates" name="brazilianStates">
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
          </select>
            <input type="text" id="city" name="city" placeholder="Cidade" />
           
          </fieldset>
        
            
                <button type="submit" id="openModalButton" class="btn btn-primary view-button">
                    Cadastrar Cliente
                </button>
            
       
          </div>
          
        </div>
         
      </form>
      
    </div>

   <!-- Modal1-->

   <div id="exampleModal1" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
           
                <div class="modal-header">
                    <h5 class="modal-title">Confirmação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="clientNameMessage"></p>
                    <br>
                    <strong>Deseja adicionar um Veículo?</strong>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Editar</button>
                    <button type="button" id="openRegistroVeiculo" class="btn btn-primary" onclick="openVehicleRegistration('{{ client_id }}')">
                      Cadastrar Veículo
                  </button>
                </div>
            
        </div>
    </div>
</div>

 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="static/script.js"></script>
    <script>
      //jquery_validar_cpf
       $(document).ready(function() {
            $('#cpf').blur(function() {
                let cpf = $(this).val();
                if (!isValidCPF(cpf)) {
                    alert('CPF inválido');ß
                }
            });
        });
        
        //jquery_validar_cnpj
        $(document).ready(function() {
            $('#cnpj').blur(function() {
                let cnpj = $(this).val();
                if (!isValidCNPJ(cnpj)) {
                    alert('CNPJ inválido');
                }
            });
        });


        $(document).ready(function() {
          $('#CEP').blur(function() {
              let cep = $(this).val();
              if (!isValidCEP(cep)) {
                  alert('CEP inválido');
              }
          });
      });



    $(document).ready(function() {
    // Bind submit event handler to the form with id 'clientForm'
    $('#clientForm').submit(function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();

        // Serialize form data
        var formData = $(this).serialize();

        // Send form data via AJAX
        $.ajax({
            url: '/register',
            method: 'POST',
            data: formData,
            success: function(response) {
                // Extract clientName from response
                var clientName = response.clientName;
                // Show modal with success message
                openModal1(clientName);
                // Reset the form
                $('#clientForm')[0].reset();
            },
            error: function(xhr, status, error) {
                // Show modal with error message
                openModal1(null, 'Erro ao enviar o formulário. Por favor, tente novamente mais tarde.');
            }
        });
    });
});



$(document).ready(function() {
    // When the 'Cadastrar Veículo' link is clicked
    $('#openRegistroVeiculo').click(function(event) {
        // Prevent the default behavior of the link
        event.preventDefault();
        
        // Fetch the last client ID
        $.ajax({
            url: '/get_last_client_data',  // Endpoint to fetch the last client ID
            method: 'GET',
            success: function(response) {
                // Extract the last client ID from the response
                var lastClientId = response.client_id; // Corrected access here

                
                // Set the value of the input field to the last client ID
                $('#client_id_input').val(lastClientId);
                
                // Construct the URL with the last client ID
                var url = '/vehicle_registration?client_id=' + lastClientId;
                
                // Navigate to the vehicle registration page with the last client ID
                window.location.href = url;
            },
            error: function(xhr, status, error) {
                console.error('Error fetching last client ID:', error);
            }
        });
    });
});




    </script>
  
  </body>
  <!-- <footer>
    <div class="container-footer">
      <div class="contact-info">
        <h4>Contact Us:</h4>
        <p>123 Workshop St, Cityville</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: info@workshop.com</p>
      </div>
      <div class="quick-links">
        <h4>Quick Links:</h4>
        <ul>
          <li><a href="/services">Services</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="social-media">
        <h4>Follow Us:</h4>
        <ul>
          <li>
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <Add more social media icons as needed --><!--
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2024 Workshop Name. All rights reserved.</p>
    </div>
  </footer> -->
</html>
