<!DOCTYPE html>
<html>
  <header>
    <link rel="stylesheet" href="../static/style.css">
    <title>Pesquisar</title>
  </header>
  <body>
    <div class="menu_top">
      <div class="menu_opcao">
        <table>
          <tr>
            <th class="title"><a href="{{url_for('home')}}">RSCAR<br>Automotiva</a></th>
            <th><a href="{{url_for('busca')}}">Buscar</a></th>
            <th><a href="{{url_for('register')}}">Cadastrar<br>Cliente</a></th>
            <th><a href="{{url_for('vehicle_registration_default')}}">Cadastrar<br>Veículo</a></th>
            <th><a href="{{url_for('ordem_default')}}">Ordem de<br>Serviço</a></th>
          </tr>
        </table>
      </div>
    </div>
    <h1>Pesquisar</h1>
    <div class="divcontent">
      <form onsubmit="return false;" action="{{url_for('busca')}}" name="busca" id="busca" class = form_busca method="post">
        <select id="tipo" name="tipo">
          <option value="cliente">Cliente</option>
          <option value="veiculo">Veículo</option>
          <option value="ordem">Ordem</option>
        </select>
        <input type="text" id="criterio" name="criterio" placeholder="Critério de busca">
        <p></p>
        <button type="submit"  onclick="enviar_form()">Pesquisar</button>
      </form>
    </div>
    {% if ( (tipo != "") and (resultado|length == 0) ) %}
    <div class="divlistaveiculos">
      Sem resultados
    </div>
    {% endif %}
    {% if (resultado|length > 0) %}
      <div class="divlistaveiculos">
        {% if (tipo == "cliente") %}
          <table>
            <tr>
              <th>Ação</th>
              <th>Documento</th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>E-mail</th>
            </tr>
            {% for cliente in resultado %}
              <tr>
                <td>
                  <a href="{{ url_for('exibir_cliente', id_cliente = cliente['id_cliente']) }}">
                  <button>Visualizar</button>
                  </a>
                </td>
                <td>{{cliente['cpf']}}{{cliente['cnpj']}}</td>
                <td>{{cliente['nome']}}{{cliente['razao_social']}}</td>
                <td>{{cliente['telefone']}}</td>
                <td>{{cliente['email']}}</td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
        {% if (tipo == "veiculo") %}
          <table>
            <tr>
              <th>
                Ação
              </th>
              <th>
                Placa
              </th>
              <th>
                Chassi
              </th>
              <th>
                Marca
              </th>
              <th>
                Modelo
              </th>
              <th>
                Fabricação
              </th>
              <th>
                Ano Modelo
              </th>
              <th>
                Cor
              </th>
            </tr>
            {% for carro in resultado %}
              <tr>
                <td>
                  <a href="{{ url_for('exibir_cliente', id_cliente = carro['id_cliente']) }}">
                  <button class="small_button">Ver cliente</button>
                  </a>
                  <p class="small_button"></p>
                  <a href="{{ url_for('ordem', id_veiculo = carro['id_veiculo']) }}">
                    <button class="small_button">Abrir ordem</button>
                  </a>  
                </td>
                <td>{{carro['placa']}}</td>
                <td>{{carro['chassi']}}</td>
                <td>{{carro['marca']}}</td>
                <td>{{carro['modelo']}}</td>
                <td>{{carro['ano_fabricacao']}}</td>
                <td>{{carro['ano_modelo']}}</td>
                <td>{{carro['cor']}}</td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
        {% if (tipo == "ordem") %}
          <table>
            <tr>

            </tr>
          </table>
        {% endif %}
      </div>
    {% endif %}
    <script src="../static/busca.js"></script>
  </body>
</html>