<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mechanical Workshop System</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          >RS Car Automotive</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Cadastro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order">Pedido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-disabled="true" href="/status">Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-disabled="true" href="/search">Busca</a>
            </li>
          </ul>
          <a class="nav-link" href="/">Logout</a>
        </div>
      </div>
    </nav>
  </header>

  <body>
    <div class="container-seach">


      <div id="left-search" class="container">
        <form action="/searchdatabase" method="GET">
          <div class="mb-3">
            <h1>Buscar Informacões</h1>
            <label for="CPF" class="form-label"
              >Pesquisar por Nome, E-mail, Celular , CPF, CNPJ:</label
            >
            <input type="text" class="form-control" id="procura" name="procura" />
            <div id="emailHelp" class="form-text"></div>
          </div>
          <button type="submit" class="btn btn-primary">Pesquisar</button>
          <a href="/search" class="btn btn-secondary">Limpar</a>
        </form>
      </div>
  
      <br />
  
      <div id="right-search" class="container">
        <form action="/searchdatabaseveiculo" method="GET">
          <div class="mb-3">
            <h1>Buscar Informacões do Veículo</h1>
            <label for="placa" class="form-label"
              >Pesquisar por Id, Placa, Chassi, ID Cliente:</label
            >
            <input type="text" class="form-control" id="procura_veiculo" name="procura_veiculo" />
            <div id="emailHelp" class="form-text"></div>
          </div>
          <button type="submit" class="btn btn-primary">Pesquisar</button>
          <a href="/search" class="btn btn-secondary">Limpar</a>
        </form>
      </div>
  
      <br/>








    </div>
    


    <div class="container-result">
  <div class="table-container">
    <h2>Search Result</h2>
    <table class="table table-striped table-hover" id="table">
      {% if search_results %}
      <thead>
        <tr>
          <!-- Add radio button column -->
          <th scope="col">Select</th>
          {% for column in search_results[0] %}
          <th scope="col">{{ column }}</th>
          {% endfor %}
          <!-- Add view button column -->
          <th scope="col">View</th>
          <th scope="col">Veiculo</th>
        </tr>
      </thead>
      <tbody class="table-striped">
        {% for result in search_results %}
        <tr>
          <!-- Add radio button -->
          <td class="col-auto">
            <input type="radio" name="selected_record" value="{{ result.id }}" />
          </td>
          {% for column in result.values() %}
          <td>{{ column }}</td>
          {% endfor %}
          <!-- Add view button -->
          <td>
            <button type="button" class="btn btn-primary view-button" onclick="openModal('{{ result.id }}')">
              View
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-primary view-button" onclick="openModalVeiculo('{{ result.id }}')">
              Veiculo
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% else %}
      <tr>
        <td colspan="100%">No records found for the provided criteria.</td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="exampleModalCliente" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes do Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <fieldset class="client-field">
          <legend>Campo Cliente</legend>
          <input type="text" id="client_id"></input>
          <input type="text" id="clientName" name="clientName" placeholder="Type the client Name" required />
          <input type="text" id="cpf" name="CPF" class="cpf" placeholder="Digite o CPF" />
          <input type="text" id="RazaoSocial" name="RazaoSocial" placeholder="Razao Social" />
          <input type="text" id="cnpj" name="CNPJ" placeholder="CNPJ" placeholder="CNPJ" />
          <input type="text" id="Telephone" name="Telephone" placeholder="Telefone">
          <input type="text" id="Cellphone" name="Cellphone" placeholder="Celular" required />
          <input type="email" id="Email1" name="Email1" placeholder="Digite um e-mail" required />
          <input type="email" id="Email2" name="Email2" placeholder="Digite um e-mail" />
        </fieldset>

        <fieldset class="client-field">
          <legend>Endereco do Cliente</legend>


          <input type="text" id="CEP" name="CEP" placeholder="Digite o CEP" required />
          <input type="text" id="Logradouro" name="Logradouro" placeholder="Logadouro" />
          <input type="text" id="Numero" name="Numero" placeholder="Número" />
          <input type="text" id="Complemento" name="Complemento" placeholder="Complemento" />
          <select id="brazilianStates" name="brazilianStates">
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
          </select>
          <input type="text" id="city" name="city" placeholder="Cidade" />
        </fieldset>

        <fieldset class="client-field">

          <legend>Detalhes Veículo</legend>

          <!-- Pre-filled hidden input field for client_id -->
          <input type="text" id="id" nome="id">
          <input type="text" id="placa" name="placa" placeholder="Placa" required />
          <input type="text" id="chassi" name="chassi" placeholder="Chassi">
          <input type="text" id="fabricante" name="fabricante" placeholder="Fabricante" required />
          <input type="text" id="modelo" name="modelo" placeholder="Modelo" required />
          <input type="text" id="cor" name="cor" placeholder="Cor" />
          <input type="text" id="ano_modelo" name="ano_modelo" placeholder="Ano do Modelo" />
        
         

          <input type="texto" id="cor" name="cor" placeholder="Cor" required />
          <select id="an0_modelo" name="ano_modelo">
            <option value="1970">Selecionar o Ano</option>
            <option value="1971">1971</option>
            <option value="1972">1972</option>
            <!-- Add more years as needed -->
            <option value="2024">2024</option>
          </select>



        </fieldset>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Deletar</button>
        <button type="button" class="btn btn-warning">Editar</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('vehicle_registration') }}'">

          Adicionar Veículo
        </button>
      </div>
    </div>
  </div>
</div>







    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script src="/static/script.js"></script>
   
  </body>
 
</html>
