<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/style.css">
  <title>Cadastrar Veículo</title>
</head>

<body>
  <h1>Cadastrar Veículo</h1>
  <div class="divcontent">
    <div class="divcontentcliente">
      <table>
        <tr>
          <th colspan="2"><h3>Cliente selecionado:</h3></th>
        </tr>
        <tr>
          <th>
            Documento:
          </th>
          <td>
            {{cliente['cpf']}}{{cliente['cnpj']}}
          </td>
        </tr>
        <tr>
          <th>
            Nome/Razão social:
          </th>
          <td>
            {{cliente['nome']}}{{cliente['razao_social']}}
          </td>
        </tr>
        </table>
    </div>
    <form action="/vehicle_registration_test/" method="POST">
      <input type="hidden" value="{{cliente['id_cliente']}}" name="id_cliente">
      <div class="divform_veiculo">
        <h3>Dados do veículo:</h3>
          <table>
            <tr>
              <td>
                <input type="text" id="placa" placeholder="Placa" maxlength="7" name="placa">
              </td>
              <td>
                <input type="text" id="chassi" maxlength="17" placeholder="Chassi" name="chassi">
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" id="marca" maxlength="100" placeholder="Marca" name="marca">
              </td>
              <td>
                <input type="text" id="modelo" maxlength="100" placeholder="Modelo" name="modelo">
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" id="cor" maxlength="50" placeholder="Cor" name="cor">
              </td>
              <td>
                <select id="ano_fabricacao" name="ano_fabricacao">
                  <option value="">Selecione o Ano de Fabricação</option>
                  {% for i in range(2026, 1970, -1) %}
                    <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>
                <p></p>
                <select id="ano_modelo" name="ano_modelo">
                  <option value="">Selecione o Ano do Modelo</option>
                  {% for i in range(2026, 1970, -1) %}
                    <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
        </table>
      </div>
      <button type="submit">Cadastrar Veículo</button>
    </form>
  </div>
</body>

</html>